<section class="section-features">
  <div class="row center-column">
    <div class="">
      <div class="section-features__container">
        <div class="section-features__description">
          <h3 class="section-features__heading">
            Comprehensive Bike List
          </h3>
          <div class="section-features__paragraph">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad quaerat
            nostrum maxime at ducimus optio quae totam, accusantium laboriosam
            aliquam eos aspernatur exercitationem
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="section-features__container">
        <i class="icon ion-md-book section-features__icon"></i>
        <div class="section-features__description">
          <h3 class="section-features__heading">
            Information To Empower
          </h3>
          <div class="section-features__paragraph">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad quaerat
            nostrum maxime at ducimus optio quae totam, accusantium laboriosam
            aliquam eos aspernatur exercitationem
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="section-features__container">
        <i class="icon ion-md-people section-features__icon"></i>
        <div class="section-features__description">
          <h3 class="section-features__heading">
            Strong Community
          </h3>
          <div class="section-features__paragraph">
            We have all started from outside of the bike community. Let those
            who have gone through the process before guide you along.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
