<div>
  <main class="container">
    <div class="title">
      <h1 class="heading-1">Bikes 101</h1>
      <h2 class="heading-2">
        Arm yourself with the basics of bicycles so that you can love the bike
        you buy
      </h2>
    </div>
    <div class="bike-info">

      <!-- <div class="content__card">
        <div class="content__card-description">
          <h3 class="content__card-description--title description-title ">
            Types of Bikes
          </h3>
          <div class="content__card-description--paragraph">
            Bikes geometries come in several different flavors for different
            general purposes
          </div>
          <a alt="Types of Bikes"><button class="content__card-description--link">
              Tell me more
            </button></a>
        </div>
        <div class="content__card-image-bike"></div>
      </div>
      <div class="content__card">content card 1</div>
      <div class="content__card">content card 1</div>
      <div class="content__card">content card 1</div> -->

      <div class="content__card" (click)="diveDeeper('bike-types')">
        <div class="content__card-description">
          <h3 class="content__card-description--title description-title ">
            Types of Bikes
          </h3>
          <div class="content__card-description--paragraph">
            Bikes geometries come in several different flavors for different
            general purposes
          </div>
          <a alt="Types of Bikes"><button class="content__card-description--link">
              Tell me more
            </button></a>
        </div>
        <div class="content__card-image-bike"></div>
      </div>
      <div class="content__card">
        <div class="content__card-description">
          <h3 class="content__card-description--title description-title ">
            Frame Materials
          </h3>
          <div class="content__card-description--paragraph">
            The material of the bike frame has evovled throughout the years,
            but each material still serves a different need -- function and
            price-wise.
          </div>
          <button class="content__card-description--link">
            Tell me more
          </button>
        </div>
        <div class="content__card-image-material"></div>
      </div>
      <div class="content__card">
        <div class="content__card-description">
          <h3 class="content__card-description--title description-title ">
            Components
          </h3>
          <div class="content__card-description--paragraph">
            Even as much as the material of the bicycle, the quality of its
            components can completely affect the enjoyment of a bike ride.
          </div>
          <button class="content__card-description--link">
            Tell me more
          </button>
        </div>
        <div class="content__card-image-components"></div>
      </div>
      <div class="content__card">
        <div class="content__card-description">
          <h3 class="content__card-description--title description-title ">
            Accessories
          </h3>
          <div class="content__card-description--paragraph">
            After you find the perfect bicycle, you must have the neccessities
            to get accompany you out on the road. From clothing to shoes to
            lights and beyond, there are plenty of items that can help you
            when you're shreading the road by yourself.
          </div>
          <button class="content__card-description--link">
            Tell me more
          </button>
        </div>
        <div class="content__card-image-accessories"></div>
      </div>
    </div>

  </main>
</div>