<section class="section-about">
    <h2
      class="heading-secondary heading-secondary-primary"
    >
      About Us
    </h2>
  <div class="section-about__content">
    <p>
      Velo Quirk was born out of hearing the constant question from friends
      outside of the biking community ask, "I want to get a bicycle. Which one
      would you recommend I get?" Only to get intimidated by a bike shop or be
      guided to a specific brand only for marketing reasons.
    </p>
    <p>
      Velo Quirk is designed to arm those new to biking with the information
      necessary to make a educated decision on the appropriate fun machine to
      purchase.
    </p>
  </div>
  <div class="content">
    <div class="row center-column">
      <h3 class="content-title heading-section-primary">
        Tell Us About Yourself
      </h3>
      <h3 class="content-title heading-section-primary">
        Jump Into The Forums
      </h3>
    </div>
    <div class="row center-column">
      <!-- <div class="content-button"> -->
        <a href="#" class="btn btn-dark">
          <div>Let Us Choose It For You</div>
        </a>
      <!-- </div> -->
      <!-- <div class="content-button"> -->
        <a href="#" class="btn btn-dark">
          <div>Let Our Community Choose It For You</div>
        </a>
      <!-- </div> -->
    </div>
    <div class="row center-column">
      <div class="content-description">
          We have the most comprehensive list of bikes and algorithms able to
          match you based on a basic set of preferences.
      </div>
      <div class="content-description">
          Let others who have years of knowledge discuss the best value for your
          dollar or just encourage you to buy the prettiest bike in your budget.
      </div>
    </div>
  </div>
</section>
